@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Unbounded:wght@200..900&family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Unbounded:wght@200..900&family=UnifrakturCook:wght@700&display=swap");

@theme {
  --color-soft-black: #0a0a0a;
  --color-white: #f5f5f0;
  --font-sans: "Darker Grotesque", sans-serif;
  --font-fancy: "UnifrakturCook", serif;
}

html,
body {
  width: 100%;
  background-color: #0a0a0a;
  color: #f5f5f0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex justify-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-baseline;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #f5f5f0, #4a4a4a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@layer components {
  main {
    @apply w-full overflow x-hidden;
  }

  nav {
    @apply fixed z-50 w-full;

    div {
      @apply flex md:flex-row flex-col justify-between items-center gap-5 py-5 lg: px-0 px-5 container mx-auto;
    }

    p {
      @apply font-sans text-3xl -mb-2;
    }

    a {
      @apply cursor-pointer text-nowrap md:text-base text-sm;
    }
  }
}
