@font-face {
  font-family: "Darker Grotesque";
  src: url("./assets/fonts/DarkerGrotesque.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UnifrakturCook";
  src: url("./assets/fonts/UnifrakturCook.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-soft-black: #0a0a0a;
  --color-white: #f5f5f0;
  --font-base: "Darker Grotesque", sans-serif;
  --font-gothic: "UnifrakturCook", normal;
}

html,
body {
  width: 100%;
  background-color: #0a0a0a;
  color: #f5f5f0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #faf9f6, #5a534c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-bottom: 0.15em;
  margin-bottom: -0.15em;
}

.noise {
  @apply absolute inset-0 z-10 size-full bg-cover pointer-events-none bg-[url("/bg.jpg")] opacity-30;
}

.video {
  @apply absolute bottom-0 left-0 w-full h-1/2 md:h-[80%] z-10 object-cover;
}
