@font-face {
  font-family: "Darker Grotesque";
  src: url("./assets/fonts/DarkerGrotesque.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UnifrakturCook";
  src: url("./assets/fonts/UnifrakturCook.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-soft-black: #0a0a0a;
  --color-white: #f5f5f0;
  --font-base: "Darker Grotesque", sans-serif;
  --font-gothic: "UnifrakturCook", normal;
}

html,
body {
  width: 100%;
  background-color: #0a0a0a;
  color: #f5f5f0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #f5f5f0, #4a4a4a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.noise {
  @apply absolute inset-0 h-full w-full object-cover opacity-10 block bg-[url("/bg.jpg")];
}
